*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font{
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
  max-width: 1600px;
   background-color: #FFFFFF;
}
.nav-section{
  display: flex;
  margin: 0px 120px;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  margin: 16px 0;
  width: 139px;
  height: 60px;
}
.nav-section .menu li,a{
  list-style: none;
  text-decoration: none;
   font-size: 16px;
  color: #000000;
}
.menu ul{
  display: flex;
  gap: 32px;
  
}
.btn{
  max-width: 164px;
  padding: 12.5px 16px;
  background: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  
}
.hero-section{
  max-width: 1600px;
  /* background-image: url(/assets/hero-bg.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(
    170deg,
     rgb(12, 12, 12),
     rgba(139, 116, 243, 0.178)
  ),url('/assets/hero-bg.png');
}
.hero-container{
  padding: 115px 120px 179.5px;
  text-align: center;
}
.hero-btn{
  display: flex;
  gap: 16px;
}
.btn1-banner{
  max-width: 251px;
  padding: 12.5px 16px;
  background: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  /* text-align: center; */
  align-items: center;
  gap: 10px;
  margin-left: 447.5px;
  
}
.btn1-banner img{
  max-width: 20px;
  max-height: 20px;
}
.btn-banner{
    max-width: 198px;
  padding: 12.5px 16px;
  background: none;
  color: white;
  border: white 1px solid;
  border-radius: 4px;
}
.logo-ban{
  background-color: white;
  border-radius: 14px;
  font-size: 16px;
  padding: 8px 12px;
}
.hero-heading p img{
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
}
.hero-heading h1{
  margin-top: 16px;
  font-size: 72px;
  font-weight: 900;
  /* line-height: 84px;
  max-width: 770px;
  max-height: 168px; */
  margin-bottom: 16px;
}
.hero-heading .banner-des{
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 32px;
}
.notes-section{
  max-width: 1600px;
  background-color: #FFFFFF;
}
.notes-section .notes-container{
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notes-container h1{
   margin-top: 70px;
   font-size: 48px;
   font-weight: bold; 
   margin-bottom: 16px;
}
.notes-container p{
  color: #627382;
  font-size: 16px;
}
.card img{
  max-width: 40px;
  max-height: 40px;
  border: 1px solid red;
  background-color: red;
  border-radius: 20px;
  padding: 10px;

  /* padding-top: 29.5px; */
}
.card-section{
  max-width: 1600px;
}
.card-container{
  margin: 44px 120px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;  
}
.card{
  max-width: 250px;
  max-height: 300px;
  /* border: red 1px  solid; */
  padding: 39.5px 24px;
  text-align: center;
  box-shadow: 0 0 8px 0 #000000;
  background-color: #FFFFFF;
  border: none;


}
.card h2{
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600px;
  color: #001931;
}
.card p{
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
}
#brain-section{
   max-width: 1600px;
   background-color: #FFFFFF;
}
.brain-container{
  padding: 120px;
  display: flex;
  gap: 60px;
  max-width: 1360px;
  align-items: center;
}
.brain-container img{
  max-width: 600px;
  max-height: 600px;
  border-radius: 12px;
}
.brain-container h4{
  font-size: 16px;
  color: #469165;
}
.brain-description h1{
  font-size: 40px;
  font-weight: 900;
  color: #001931;
  margin: 16px 0;
}
.brain-description p{
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px;
}
.brain-description ul{
   list-style: none;
   font-size: 16px 
   tex
}
.brain-description li{
  display: flex;
  align-items: center;
  gap:6px ;
}
#ready-section{
  max-width: 1600px;
  background-color: white;
}
.ready{
  margin: 120px;
  background-color: #F7F6F2;
  text-align: center;
  border-radius: 12px;
  padding: 80px 40px;
}
.ready h1{
  font-size: 40px;
  font-weight: 900;
  color: #001931;
}
.ready p{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 24px;
}