*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font{
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
  max-width: 1600px;
   background-color: aqua;
}
.nav-section{
  display: flex;
  margin: 0px 120px;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  margin: 16px 0;
  width: 139px;
  height: 60px;
}
.nav-section .menu li,a{
  list-style: none;
  text-decoration: none;
   font-size: 16px;
  color: #000000;
}
.menu ul{
  display: flex;
  gap: 32px;
  
}
.btn{
  max-width: 164px;
  padding: 12.5px 16px;
  background: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  
}
